@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/*http: //meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* / HTML5 display-role reset for older browsers /*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Reset*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* sets font family */

body {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  margin: 0 35px 0 35px;
}

header {
  margin: auto;
  background-color: #3C3B3A;
  text-align: center;
}

/* Sets logo size */
header img {
  width: 88px;
}

/* Navigation bar */

nav ul li a {
  list-style-type: none;
  display: block;
  text-decoration: none;
  color: white;
  padding: 11px;
}

nav ul li a:hover {
  background-color: #26A682;
}

.active {
  font-weight: bold;
}

/* Font sizes  */

h1 {
  padding-top: 25px;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
}

p {
  padding-top: 20px;
  font-size: 20px;
}

/* activity icons */

.mini-icons {
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.mini-icons a {
  display: block;
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #26A682
}

/* Get started button styles */

button {
  margin-top: 30px;
  background-color: #26A682;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border: none;
  border-radius: 25px;
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.356);
  font-family: 'Raleway', sans-serif;
}

/* image resize style */
.reading img {
  padding-top: 40px;
  width: 100%;
}

.section-2 div img {
  width: 100%;
}

/* heading styles */

h2 {
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
}

h3 {
  color: #26A682;
  font-size: 24px;
}

/* image resize style for circle image */

.section-3 div img {
  display: block;
  margin: auto;
  width: 175px;
  height: auto;
  border-radius: 100%;
  border: 5px solid white;
}

.section-3 {
  padding-top: 30px;
  background-color: #3C3B3A;
  color: white;
}

/* sets light height on section 2 */

.section-2 p {
  line-height: 30px;
}

/* Learn more button style */

.section-2 button {
  margin-bottom: 35px;
  width: 50%;
  margin-left: 50%;
}

.section-2 h2 {
  padding-top: 30px;
  margin-bottom: 10px;
}

/* Dijanelle simon section style for image text and header */

.section-3 h4 {
  font-size: 24px;
  margin: auto;
  text-align: center;
  padding-top: 28px;
  font-weight: bold;
}

.section-3 p {
  line-height: 35px;
  padding-bottom: 50px;
}

/* entertainment section styles */

.section-4 div img {
  width: 100%;
}

.section-4 p {
  line-height: 35px;
}

.section-4 h2 {
  padding-top: 30px;
  margin-bottom: 10px;
}

.section-4 button {
  margin-bottom: 35px;
  width: 50%;
  margin-left: 50%;
}

/* Footer  styles */

footer {
  background-color: #3C3B3A;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50px);
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.follow {
  color: white;
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.social-icons {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.to-top {
  grid-column: 3;
  grid-row: 2;
  justify-self: end;
  margin-right: 19px;
  margin-top: -10px;
}

.social-icons img {
  padding: 3px;
}

.to-top a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.to-top img {
  width: 22px;
  height: auto;
  padding-bottom: 5px;
}

/* contact page styles */

/* Google map */

iframe {
  width: 100%;
}

p {
  line-height: 30px;
}

.contact-1 img {
  width: 100%;
}

h7 {
  font-size: 40px;

  font-weight: bold;
  color: white;
  padding-bottom: 10px;
}

form {
  background-color: #26A682;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.356);
}

form fieldset input {
  width: 100%;
  padding: 10px;
  border-radius: 1.5rem;
  border: none;
  margin-top: 10px;
  margin-bottom: 14px;
}

form fieldset textarea {
  width: 100%;
  resize: none;
  padding: 35px;
  border-radius: 1rem;
  border: none;
  margin-bottom: 15px;
  margin-top: 10px;
}

label {
  color: white;
}

form button {
  background-color: #3C3B3A;
}

/* about page styles */

.about-test-one img {
  width: 100%;
  padding-bottom: 2em;
  padding-top: 2em;
}

/* banner images */

.about-img {
  background-image: url(../images/about.jpg);
  background-size: cover;
  height: 10em;
  text-align: center;
}

.about-img h1,
.service-img h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding-top: 3rem;
}

.service-img {
  background-image: url(../images/services.jpg);
  background-size: cover;
  height: 10em;
  text-align: center;

}

.subscribe {
  background-color: #3C3B3A;
  color: white;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.subscribe button {
  width: 14rem;
}

/* text title styles */

.break h2,
.comp h2,
.new-me h2,
.indoor h2 {
  color: #26A682;
  font-size: 24px;
}

.break h1,
.comp h1,
.new-me h1,
.indoor h1 {
  font-size: 32px;
  font-weight: bold;
}

/* image resize */

.logo-icons img:nth-child(2) {
  width: 301px;
  height: auto;
}

.logo-icons img:nth-child(3) {
  width: 202px;
  height: auto;
}

.logo-icons img:nth-child(4) {
  width: 220px;
  height: auto;
}

.logo-icons img:nth-child(5) {
  width: 152px;
  height: auto;
}

.logo-icons {
  text-align: center;
  display: block;
  margin: auto;
  padding: 2rem;
}

.logo-icons img {
  display: block;
  margin: auto;
  padding-top: 2rem;
}

/* images for the about page */

.no-display {
  display: none;
}

/* tablet */

@media (min-width:770px) {


  .no-display {
    display: block;
  }

  .wrapper {
    margin: 0;
  }

  picture img {
    width: 100%;
    height: auto;
  }

  .tablet-grid-1 {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
    align-items: center;
    padding: 80px;
  }

  .tablet-grid-2 {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: center;
    align-items: center;
    padding: 80px;
    background-color: #F2F2F2;
  }

  .tablet-grid-2 .indoor,
  .tablet-grid-2 .comp {
    margin-right: 16px;
  }

  .tablet-grid-1 .break,
  .tablet-grid-1 .new-me {
    margin-left: 16px;
  }

  .wrapper2 {
    margin-left: 80px;
    margin-right: 80px;
  }

  .mini-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 3rem;
  }

  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  header img {
    margin-left: 80px;
  }

  nav ul {
    padding-top: 40px;
  }

  nav ul li a {
    display: inline;
  }

  nav ul li {
    display: inline;

  }

  /* desktop (Did not have time) */

  @media {}


  /* Animation (Did not have time) */